

@font-face {
    font-family: "VHSGothic";
    src:
        url("./Fonts/vhs-gothic.woff2") format("woff2"),
        url("./Fonts/vhs-gothic.woff") format("woff"),
        url("./Fonts/vhs-gothic.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Adore64";
    src:
        url("./Fonts/Adore64.woff2") format("woff2"),
        url("./Fonts/Adore64.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "DOS437";
    src:
        url("./Fonts/Perfect DOS VGA 437 Win.woff2") format("woff2"),
        url("./Fonts/Perfect DOS VGA 437 Win.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "CMD";
    src:
        url("./Fonts/windows_command_prompt.woff2") format("woff2"),
        url("./Fonts/windows_command_prompt.ttf") format("truetype");
    font-display: swap;
}



:root{
    --font-main: "CMD", monospace;
    --font-title: "VHSGothic", monospace;
    --font-pixel: "Adore64", monospace;
    --font-retro: "DOS437", monospace;
}
